.fd {
  position: relative;
  height: 100vh;
  width: 100%;
  
  overflow-x: hidden;
}

.app__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  width: 100%;
  height: 7vh;
}

span {
  
}

.app__controls__counter {
  position: fixed;
  top: 80px;
  left: 30px;
}

.app__controls__delete {
  position: fixed;
  top: 100px;
  right: 30px;
}

.btn__delete__all {
  font-size: 18px;
  
  outline: none;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
}

.app__controls {
  width: 50%;
  height: 150px;
  margin: 50px auto;
}

.app__controls__inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.app__controls__inputs input {
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  border: 1px solid rgba(0,0,0,0.2);
}

.app__controls__inputs button {
  padding: 5px;
  width: 25%;
  text-align: center;
 
  margin: 10px auto;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}

.app__meals__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__meals__container__wrapper {
  height: auto;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

.app__meals__container__wrapper__inner {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
}

.btn__delete__meal {
  padding: 5px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: white;
  
  border-radius: 5px;
  border: 1px solid black;
}

.app__modal {
  width: 300px;
  height: 250px;
  background: #f4f4f4;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.btn__close__modal {
  padding: 5px;
  outline: none;
  text-align: center;
  font-size: 18px;
  
  
  border-radius: 5px;
  border: 1px solid white;
  width: 90%;
}

.app__meals__container__select select{
  outline: none;
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;

}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}