@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  background-image: url('./img/welcomePageBg.jpg');
  background-size: cover;
  background-position: top center;
  width: 100%;
  
}
